html body {
  background-color: #151719;
  font-family: 'Inter', sans-serif;
}

.title {
  color: #eceded;
  overflow-wrap: break-word;
  margin-bottom: 16px;
  text-align: center;
  font-weight: 800;
  font-size: 52px;
}

.title-span {
  color: #6b6dff;
}

.main {
  padding: 40px 0px;
}

.logo-primary {
  filter: invert(43%) sepia(20%) saturate(3058%) hue-rotate(211deg)
    brightness(101%) contrast(102%);
}

.nav-dark {
  background-color: #151719 !important;
}

.nav-brand {
  font-family: 'Inter', sans-serif !important;
  font-weight: 600 !important;
}

.nav-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-button {
  height: 40px;
  background-color: #6b6dff !important;
  border-bottom-color: #4f50c7 !important;
  border-top-color: #4f50c7 !important;
  border-right-color: #4f50c7 !important;
  border-left-color: #4f50c7 !important;
  border-bottom-left-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
  border-top-left-radius: 3px !important;
  border-top-right-radius: 3px !important;
  font-family: 'Inter', sans-serif !important;
  font-weight: 600 !important;
}

/* Up to Medium (up to 991px) */
@media only screen and (max-width: 991px) {
  .line {
    display: flex;
    margin: 12px auto 9px auto;
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
    width: 100px;
    height: 8px;
    background-color: #eceded;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .line {
    display: inline-block;
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
    width: 8px;
    height: 100px;
    transform: translateY(32px);
    background-color: #eceded;
  }
}

.sub-title {
  margin-top: 50px;
  color: #6b6dff;
  overflow-wrap: break-word;
  margin-bottom: 8px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
}

.project-title {
  color: #eceded;
  overflow-wrap: break-word;
  margin-bottom: 16px;
  text-align: center;
  font-weight: 700;
  font-size: 32px;
}

.project-description {
  max-width: 600px;
  line-height: 22px;
  color: #9ca9b3;
  overflow-wrap: break-word;
  margin: 0 auto 16px auto;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
}

.logger {
  height: 100%;
  display: block;
  margin: 50px auto 16px auto;
  width: 600px;
  -webkit-box-shadow: 5px 5px 15px 5px #596166;
  box-shadow: 5px 5px 15px 5px #596166;
}

.logger-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.each-slide,
.slide {
  width: 600px;
  height: 400px;
}

.images-wrap {
}

/* #25282C */
