html body {
  background-color: #151719;
  font-family: 'Inter', sans-serif;
}

.nav-height {
  height: 57px;
}

/* XSmall Devices (up to 494px) */
@media only screen and (max-width: 494px) {
  .main {
    padding: 15px 0px;
  }
  .title {
    color: #eceded;
    overflow-wrap: break-word;
    margin-bottom: 0;
    text-align: center;
    font-weight: 600;
    font-size: 36px;
  }
  .line {
    display: flex;
    margin: 9px auto 6px auto;
    border-bottom-left-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
    border-top-left-radius: 3px !important;
    border-top-right-radius: 3px !important;
    width: 100px;
    height: 6px;
    background-color: #eceded;
  }
}

/* Small to Medium (495px to 991px) */
@media only screen and (min-width: 495px) and (max-width: 991px) {
  .main {
    padding: 20px 0px;
  }
  .title {
    color: #eceded;
    overflow-wrap: break-word;
    padding-bottom: 10px;
    text-align: center;
    font-weight: 800;
    font-size: 52px;
  }
  .line {
    display: flex;
    margin: 12px auto 9px auto;
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
    width: 100px;
    height: 8px;
    background-color: #eceded;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .main {
    padding: 20px 0px;
  }
  .title {
    color: #eceded;
    overflow-wrap: break-word;
    margin-bottom: 16px;
    text-align: center;
    font-weight: 800;
    font-size: 52px;
    transform: translateY(-25px);
  }
  .line {
    display: inline-block;
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
    width: 8px;
    height: 100px;
    transform: translateY(32px);
    background-color: #eceded;
  }
}

.title-span {
  color: #6b6dff;
}

.logo-primary {
  filter: invert(43%) sepia(20%) saturate(3058%) hue-rotate(211deg)
    brightness(101%) contrast(102%);
}

.nav-dark {
  background-color: #151719 !important;
}

.nav-brand {
  font-family: 'Inter', sans-serif !important;
  font-weight: 600 !important;
}

.nav-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-button {
  height: 40px;
  background-color: #6b6dff !important;
  border-bottom-color: #4f50c7 !important;
  border-top-color: #4f50c7 !important;
  border-right-color: #4f50c7 !important;
  border-left-color: #4f50c7 !important;
  border-bottom-left-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
  border-top-left-radius: 3px !important;
  border-top-right-radius: 3px !important;
  font-family: 'Inter', sans-serif !important;
  font-weight: 600 !important;
}

.sub-title {
  margin-top: 30px;
  color: #6b6dff;
  overflow-wrap: break-word;
  margin-bottom: 8px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
}

.project-title {
  color: #eceded;
  overflow-wrap: break-word;
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 32px;
}

.project-description {
  max-width: 700px;
  line-height: 22px;
  color: #9ca9b3;
  overflow-wrap: break-word;
  margin: 0 auto 16px auto;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
}

.logger {
  height: 100%;
  display: block;
  margin: 30px auto;
  -webkit-box-shadow: 5px 5px 15px 5px #596166;
  box-shadow: 5px 5px 15px 5px #596166;
}

.logger-image {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.slide-caption {
  color: #eceded;
  transform: translateY(-30px);
  margin-bottom: 0;
  text-align: center;
}
.react-slideshow-container + div.indicators {
  margin-top: 0px !important;
}

/* XSmall devices  (under 620px) */
@media only screen and (max-width: 649px) {
  .each-slide,
  .slide {
    width: 90vw;
    height: calc(60vw + 35px);
  }
  .logger {
    width: 90vw;
  }
}

/* Small devices and up (620px and up) */
@media only screen and (min-width: 650px) {
  .each-slide,
  .slide {
    width: 600px;
    height: 435px;
  }
  .logger {
    width: 600px;
  }
}

.slide-button {
  display: flex;
  justify-content: center;
}

.react-slideshow-container + div.indicators > .each-slideshow-indicator.active {
  background: #6b6dff !important;
}

.footer {
  display: flex;
  justify-content: center;
}

.social-icons {
  margin: 0 10px;
}
